Repository sinfo/deck2, pull requests merged in 2022-11, with the labels that each got.

#300 Feature: Meeting Individual Page
  backend/src/models/meeting.go
  backend/src/mongodb/meeting.go
  backend/src/router/init.go
  backend/src/router/meetings.go
  backend/static/swagger.json
  backend/swagger/meetings-id-participants.json
  backend/swagger/swagger.json
  frontend/lib/components/SearchResultWidget.dart
  frontend/lib/components/addThreadForm.dart
  frontend/lib/components/appbar.dart
  frontend/lib/components/threadCard.dart
  frontend/lib/models/meeting.dart
  frontend/lib/routes/company/CompanyScreen.dart
  frontend/lib/routes/meeting/AddMeetingMemberForm.dart
  frontend/lib/routes/meeting/MeetingCard.dart
  frontend/lib/routes/meeting/MeetingScreen.dart
  frontend/lib/services/meetingService.dart
Labels: meetings, backend, frontend

#302 Feature: individual member page
  backend/src/mongodb/company.go
  backend/src/mongodb/member.go
  backend/src/mongodb/speaker.go
  backend/src/router/init.go
  backend/src/router/member.go
  frontend/lib/components/appbar.dart
  frontend/lib/components/deckTheme.dart
  frontend/lib/components/memberPartCard.dart
  frontend/lib/main.dart
  frontend/lib/routes/member/AddMemberForm.dart
  frontend/lib/routes/member/DisplayContact2.dart
  frontend/lib/routes/member/EditContact.dart
  frontend/lib/routes/member/EditMemberForm.dart
  frontend/lib/routes/member/InformationBox.dart
  frontend/lib/routes/member/MemberNotifier.dart
  frontend/lib/routes/member/MemberScreen.dart
  frontend/lib/routes/speaker/EditSpeakerForm.dart
  frontend/lib/routes/teams/TeamsTable.dart
  frontend/lib/services/memberService.dart
Labels: members, frontend

#305 Feature: Session Management
  backend/src/mongodb/session.go
  frontend/lib/components/router.dart
  frontend/lib/main.dart
  frontend/lib/models/company.dart
  frontend/lib/models/session.dart
  frontend/lib/models/speaker.dart
  frontend/lib/routes/HomeScreen.dart
  frontend/lib/routes/session/AddSessionForm.dart
  frontend/lib/routes/session/EditSessionForm.dart
  frontend/lib/routes/session/SessionCard.dart
  frontend/lib/routes/session/SessionPage.dart
  frontend/lib/routes/session/SessionsNotifier.dart
  frontend/lib/routes/session/calendar.dart
  frontend/lib/services/eventService.dart
  frontend/lib/services/sessionService.dart
  frontend/pubspec.yaml
Labels: sessions
