Repository sinfo/deck2, pull requests merged in 2023-08, with the labels that each got.

#384 Update 1.0.6
  backend/src/models/company.go
  backend/src/mongodb/company.go
  backend/src/mongodb/contact.go
  backend/src/mongodb/speaker.go
  backend/src/mongodb/thread.go
  backend/src/router/company.go
  backend/src/router/init.go
  frontend/lib/routes/company/CompanyScreen.dart
  frontend/lib/routes/company/ParticipationList.dart
  frontend/lib/routes/company/banner/CompanyBanner.dart
  frontend/lib/routes/speaker/SpeakerScreen.dart
  frontend/lib/routes/speaker/banner/SpeakerBanner.dart
  frontend/lib/services/companyService.dart
  frontend/lib/services/speakerService.dart
Labels: update

#387 Feature: Linkify body of details screens
  frontend/lib/components/EditableCard.dart
  frontend/lib/routes/company/DetailsScreen.dart
  frontend/lib/routes/speaker/DetailsScreen.dart
  frontend/pubspec.yaml
Labels: frontend

#389 Feature: Templates
  backend/src/models/requirement.go
  backend/src/models/template.go
  backend/src/mongodb/init.go
  backend/src/mongodb/template.go
  backend/src/router/init.go
  backend/src/router/templates.go
  backend/src/spaces/template.go
  frontend/lib/components/threads/addThreadForm.dart
  frontend/lib/components/threads/participations/communicationsList.dart
  frontend/lib/generated_plugin_registrant.dart
  frontend/lib/main.dart
  frontend/lib/models/requirement.dart
  frontend/lib/models/template.dart
  frontend/lib/routes/template/TemplatesNotifier.dart
  frontend/lib/services/templateService.dart
Labels: backend, frontend

#396 Only allow admins to set someone's role as Coordinator, when associating the member to a team
  frontend/lib/routes/members_teams/teams/AddTeamMemberForm.dart
  frontend/lib/routes/members_teams/teams/TeamScreen.dart
Labels: frontend

#398 Update 1.0.7
  backend/go.mod
  backend/go.sum
  backend/src/models/requirement.go
  backend/src/models/template.go
  backend/src/mongodb/company.go
  backend/src/mongodb/init.go
  backend/src/mongodb/speaker.go
  backend/src/mongodb/template.go
  backend/src/router/init.go
  backend/src/router/templates.go
  backend/src/spaces/template.go
  frontend/Dockerfile
  frontend/Dockerfile_staging
  frontend/lib/components/EditableCard.dart
  frontend/lib/components/ListViewCard.dart
  frontend/lib/components/threads/addThreadForm.dart
  frontend/lib/components/threads/participations/communicationsList.dart
  frontend/lib/generated_plugin_registrant.dart
  frontend/lib/main.dart
  frontend/lib/models/requirement.dart
  frontend/lib/models/template.dart
  frontend/lib/routes/company/CompanyListWidget.dart
  frontend/lib/routes/company/CompanyTable.dart
  frontend/lib/routes/company/DetailsScreen.dart
  frontend/lib/routes/company/banner/CompanyBanner.dart
  frontend/lib/routes/meeting/MeetingBanner.dart
  frontend/lib/routes/members_teams/teams/AddTeamMemberForm.dart
  frontend/lib/routes/members_teams/teams/TeamScreen.dart
  frontend/lib/routes/session/SessionBanner.dart
  frontend/lib/routes/speaker/DetailsScreen.dart
  frontend/lib/routes/speaker/SpeakerListWidget.dart
  frontend/lib/routes/speaker/SpeakerTable.dart
  frontend/lib/routes/speaker/banner/SpeakerBanner.dart
  frontend/lib/routes/template/TemplatesNotifier.dart
  frontend/lib/services/templateService.dart
  frontend/pubspec.yaml
Labels: update
